:root {
  --color-primary: hsl(335, 100%, 50%);
}
.App {
  background-color: hsl(0, 0%, 5%);
  height: 100%;
  color: white;
  padding: 1rem;
  position: relative;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro > span {
  font-size:1.6rem;
  font-weight: 700;
}

.intro > h1 {
  font-size: 2.8rem;
  font-weight: 900;
  letter-spacing: 4px;
  color: transparent;
  -webkit-text-stroke: 1.6px var(--color-primary);
}

@media screen and (min-width: 390px) {
  .intro > span {
    font-size:2.4rem;
  }
  
  .intro > h1 {
    font-size: 3.6rem;
    -webkit-text-stroke: 2px var(--color-primary);
  }
}

@media screen and (min-width: 820px) {
  .intro > span {
    font-size:4rem;
  }
  
  .intro > h1 {
    font-size: 5.2rem;
    -webkit-text-stroke: 2.4px var(--color-primary);
  }
}


@media screen and (min-width: 1368px) {
  .intro > span {
    font-size: 6.4rem;
  }
  
  .intro > h1 {
    font-size: 7.2rem;
    -webkit-text-stroke: 3.2px var(--color-primary);
  }
}